{% extends "blog/base.html" %}
{% block content %}
    <section class="section">
        <div class="container ">
            <div class="column has-text-centered">
                <h1 class="title">AA gaye frands</h1>
                <h2 class="subtitle">
                Blog Website <strong>Padho harami</strong>, like the one you're currently reading
                </h2>
                    {% for post in posts %}
                        <figure class="image is-32x32 has-text-centered">
                            <img class="is-rounded" src="{{ post.author.profile.image.url }}">
                        </figure>
                        <h1>
                            <strong>{{post.title}} </strong> 

                        </h1>                    
                        <p>{{post.author}}  on {{post.date_posted|date:"F d, Y"}}</p>
                        <p>{{post.content}}</p>
                        <br>
                    {% endfor %}
                
            </div>  
        </div>
    </section>
{% endblock content %}
      
