{% extends "blog/base.html" %}
{% block content %}
<section class="hero is-black is-fullheight">
       
        
        
    <div class="hero-body">
      <div class="container has-text-centered is-centered is-vcentered">
          <div class="columns is-vcentered  is-vcentered has-text-centered ">
            <div class="column  ">
              <h2 class="subtitle is-4">
                Hey there, I’m
              </h2>
              <h1 class="title is-2">
                  Yash Dewangan
              </h1>
              
              <h2  class="subtitle is-4 text1 " class="text1">
                ML Enthusiast || Full Stack Developer
              </h2>
              <h3 class="subtitle is-5 mb-6 ">
                Lead at <a href="http://skn.hackclub.com/" class="has-text-info">@HackClub SKN</a>
              </h3>
              <p class="subtitle is-3 ">
                <a href="https://twitter.com/yashdewangan003" class="mx-2 has-text-danger" >
                  <i   class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/yashdewangan_/?hl=en" class="mx-2 has-text-danger">
                  <i class="fab fa-instagram">
                   
                  </i>
                </a>
                <a href="https://www.linkedin.com/in/yash-dewangan-903346132/" class="mx-2 has-text-danger">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/Yashdew" class="mx-2 has-text-danger">
                  <i class="fab fa-github"></i>
                </a>
              </p>
             
              

              
              
              
            </div>
            <div id="cen" class="column is-centered has-centered mt-3">
                <img class="imgyash1" src="/static/img/IMG_20190527_151936.jpg">
            </div>
            
              
          </div>
      </div>
  </div>
  
    <!-- Hero footer: will stick at the bottom -->
    
  </section>
{% endblock content %}
      
     