{% extends "blog/base.html" %}
{% block content %}
    <section class="section">
        <div class="container ">
            <div class="column has-text-centered">
                <h1 class="title">AA gaye frands</h1>
                <h2 class="subtitle">
                Blog Website <strong>Padho harami</strong>, like the one you're currently reading
                </h2>
                    
                        <figure class="image is-32x32 has-text-centered">
                            <img class="is-rounded" src="{{ object.author.profile.image.url }}">
                        </figure>
                        <h1>
                            <strong>{{object.title}} </strong> 
                        </h1>  
                        {% if object.author == user %}
                            <a class="button is-primary" href="{% url 'post-update' object.id %}">Update</a> 
                            <a class="button is-danger" href="{% url 'post-delete' object.id %}">Delete</a>  
                        {% endif %}                
                        <p>{{object.author}}  on {{object.date_posted|date:"F d, Y"}}</p>
                        <p>{{object.content}}</p>
                        <br>
                
            </div>  
        </div>
    </section>
{% endblock content %}
      
