{% extends "blog/base.html" %}
{% block content %}
    <section class="section">
        <div class="container ">
            <div class="columns has-text-centered is-centered ">
                <div class="column is-8 ">
                    <div class="card article ">

                        <div class="card-content">
                            <div class="is-flex center">
                                <figure class="image is-64x64 ">
                                    <img class="is-rounded" src="{{ post.author.profile.image.url }}">
                                </figure>
                            </div>
                            <div class="media">
                                
                                <div class="media-content has-text-centered">
                                    <p class="title article-title">  
                                        <a href="{% url 'post-detail' post.id%}"> {{post.title}} </a>  
                                    </p>
                                    <p class="subtitle is-6 article-subtitle">
                                        <a href="#">@{{post.author}}</a> on {{post.date_posted|date:"F d, Y"}}
                                    </p>
                                </div>
                            </div>
                            <div class="content article-body">
                                <p>
                                    {{post.content}}
                                </p>
                            </div>
                        </div>
                        <div class="card-content">
                            {% if object.author == user %}
                                <a class="button is-primary" href="{% url 'post-update' object.id %}">Update</a> 
                                <a class="button is-danger" href="{% url 'post-delete' object.id %}">Delete</a>  
                            {% endif %}  
                        </div>
                        
                        
                    </div>
                </div>
            </div>  
        </div>
    </section>
{% endblock content %}
      
