{% extends "blog/base.html" %}
<!--{% load crispy_forms_tags %}-->
{% block content %}
   
    <section class="is-vcentered">
        <div class="container ">
            <div class="column ">
                <div class="notification is-warning">
                    <button class="delete"></button>
                        <strong>An Email has sent with instructions to reset your password</strong>
                  </div>
            </div>
        </div>
    </section>
{% endblock content %}
      
     