{% extends "blog/base.html" %}
<!--{% load crispy_forms_tags %}-->
{% block content %}
   
    <section class="is-vcentered">
        <div class="container ">
            <div class="column ">
                <div class="notification is-warning">
                    <button class="delete"></button>
                        <strong>Your Password has been set.</strong>
                </div>
                <h2 class="subtitle">Now<a href="{% url 'login' %}">Login</a></h2>
            </div>
        </div>
    </section>
{% endblock content %}
      
     