{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section>
        <div class="container ">
            <div class="columns has-text-centered is-centered">
                <div class="column ">
                    <div class="box "> 
                        
                        <figure class="image is-128x128 container">
                            <img class="is-rounded" src="{{ user.profile.image.url }}">
                        </figure>
                        <h4 class="title is-4">Username: <a>@{{ user.username }}</a></h4>
                        <h4 class="title is-4">Email: {{ user.email }}</h4>
                                    
                        
                               
                    </div>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                <h1 class="title has-text-centered has-text-danger">Profile Info</h1>
                    {% csrf_token %}
                <div class="box"> 
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                    <br>
                    <div class="control">
                        <button class="button is-primary">Update</button>
                    </div>
                        <hr>
                    
                    
                </div>    
                
            </form>
        </div>
    </section>
{% endblock content %}
      
     